{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-md-3">
            {% include 'components/_sidebar.html' %}
        </div>
        <div class="col-md-9">
            <div class="row justify-content-center">
                <h2 class="text-center mt-3 mb-5">Добавить вопрос</h2>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

                <form action="" method="post" enctype="multipart/form-data" style="width: 600px">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>

            <div class="row">
                <h2 class="mt-5 mb-5 text-center">Список вопросов</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Вопрос</th>
                                <th>Ответ</th>
                                <th>Вариант ответа 1</th>
                                <th>Вариант ответа 2</th>
                                <th>Вариант ответа 3</th>
                                <th>Вариант ответа 4</th>
                                <th>Картинка</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in questions_list %}
                            <tr class="text-center">
                                <td style="height: 80px;">{{ question.pk }}</td>
                                <td style="height: 80px;">{{ question.title }}</td>
                                <td style="height: 80px;">{{ question.answer }}</td>
                                <td style="height: 80px;">{{ question.answer_option_one }}</td>
                                <td style="height: 80px;">{{ question.answer_option_two }}</td>
                                <td style="height: 80px;">{{ question.answer_option_third }}</td>
                                <td style="height: 80px;">{{ question.answer_option_four }}</td>
                                {% if question.image %}
                                <td>
                                    <a href="{{ question.image.url }}">
                                        <img src="{{ question.image.url }}" alt="" width="50px" height="50px">
                                    </a>
                                </td>
                                {% else %}
                                <td>Пусто</td>
                                {% endif %}
                                <td><a href="{% url 'question_edit' pk=question.pk %}"
                                        class="btn btn-warning">Изменить</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                // Помощь заполнения первого варианта ответа
                const answerField = document.querySelector("#id_answer")
                const answerOptionOneField = document.querySelector("#id_answer_option_one")

                answerField.addEventListener("input", () => {
                    answerOptionOneField.value = answerField.value
                })
            </script>
        </div>
    </div>
</div>
{% endblock content %}