<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">QUIZ ADMIN PANEL</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'users_list' %}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Главная
      </a>
    </li>
    <li>
      <a href="{% url 'questions_list' %}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        Список вопросов
      </a>
    </li>
  </ul>
</div>


<script>
  // Смена активной страницы
  const nav = document.querySelector(".nav")
  const navLink = nav.querySelectorAll(".nav-link")
  const routes = {
    "http://localhost:8000/": "Главная",
    "http://localhost:8000/question_list/": "Список вопросов"
  }
  
  for(let i = 0; i < navLink.length; i++) {
    if( navLink[i].textContent.trim() == routes[window.location.href] ){
      navLink[i].classList.add("active")
    }
  }

  
</script>